<div class="wrapper">
        <div id="formContent">
          <div>
            <h3>Tenha acesso ao artigo completo</h3>
          </div>
          <form>
              Responda as perguntas a seguir da forma mais honesta e sincera possível para sabermos se esta descoberta pode te ajudar.

            <section class="row">
                <div class="message" style="text-align: center">
                  Questão 1 <img src="./assets/images/certo.png" style="width: 5.5%"> Questão 2 <img src="./assets/images/certo.png" style="width: 5.5%"> Questão 3 <img src="./assets/images/certo.png" style="width: 5.5%"> <br style="line-height:0px;" />
                  <div class="message" id="divIDgif" style="text-align: center">
                    <img src="./assets/images/loading.gif">
                  </div>
                </div>
                <div class="fadeIn fourth" style="text-align: center">
                        <br>Parabéns! Você está apto para fazer o tratamento com o <b>novo produto</b> que acaba de chegar ao Brasil!<br>Acesse clicando abaixo:<br>
                </div>
            </section>
          </form>
          <div id="formFooter" class="fadeIn fourth" style="height: 15%">
                <a class="underlineHover" href="https://oprotocolodalongevidade.com/oprotocolo"><font size="5"> Me leve até lá!</font></a>
          </div>
        </div>
      </div>